body {
	margin: 0;
	padding: 0;
}

#gameframe {
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
}

#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -18px;
	margin-left: -18px;
}